@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif; 
}

.section {
    padding: 0 70px 90px;
}

/*INTRODUCTION*/
.introduction {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background-image: url("../Img/dark-wallpapers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;

}

.introduction .navigation {
    background-color: rgb(205, 205, 205);
    height: 40px;
    top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.introduction .navigation a {
    color: white;
    text-decoration: none;
}

.introduction .navigation .myName {
    width: 25%;
}

.introduction .navigation .right-menus {
    width: 70%;
}

/*BANNER*/

.introduction .hi {
    margin-top: 120px;
}

.introduction .tagline {
    margin: 20px 0 170px;
}

.introduction .banner h1{
    font-size: 300%;
    padding: 20px 0px;
}

.banner {
    padding: 70px;
}



/*SERVICE SECTION*/
.service {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service .about-me {
    text-align: justify;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
}

.service h2 {
    padding: 80px 0px 60px;
    margin-right: auto;
    margin-left: auto;
}

.service-cards {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.service-cards .theCards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: top;
    justify-content: center;    
}

.abilities {
    width: 30%;
    padding: 25px 40px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.service-cards .theCards .designer {
    background-image: url("../Img/glenn-carstens-peters-P1qyEf1g0HU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.service-cards .theCards .developer {
    background-image: url("../Img/glenn-carstens-peters-P1qyEf1g0HU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.service-cards .theCards .author {
    background-image: url("../Img/glenn-carstens-peters-P1qyEf1g0HU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.abilities p {
    text-align: justify;
}

.abilities h3 {
    text-align: center;
    padding: 10px 0 30px;
    font-weight: 900;
    font-size: x-large;
}

.abilities ul {
    padding: 20px 0;
    text-align: center;
}

.abilities ul li {
    list-style-type: none;
    padding: 6px 0;
    margin: 10px 0;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.abilities ul li:hover {
    background-color: rgb(116, 116, 116);
    color: white;
}

/*PROJECTS*/
.project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1300px;
}

.project, 
.project .aProject, 
.project .more {
    margin-right: auto;
    margin-left: auto;
}

.project h2 {
    margin: 20px auto 20px auto;
}

.project .aProject {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 0;
}

.project .overview {
    width: 25%;
}

.project .overview img {
    width: 100%;
    padding: 20px 0;
}

.project .big-scale {
    width: 65%;
}

.project .big-scale img {
    width: 100%;
}

.project .overview a {
    text-decoration: none;
    font-size: 130%;
    font-weight: 900;
    color: black;
}

.project .overview .project-description {
    padding: 20px 0px;
}

.project .more {
    padding: 20px 0;
}

.project .more a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 12px 18px;
    border-radius: 20px;
}

.project .more a:hover {
    background-color: gray;
    color: white;
}


/*STARTUP*/

.startups {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1300px;   
    margin: 0 auto 0 auto;
}

.startups h2 {
    margin: 40px auto 20px auto;
}

.startups .intro {
    max-width: 800px;
    margin: 0 auto 0 auto;
    text-align: center;
    padding: 40px 0 60px 0;
}

.startups .startup-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.startups .startup-cards .aStartup {
    border-radius: 20px;
    width: 24%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.startup-cards .aStartup .description {
    height: 90%;
    padding: 20px;
    background-image: url("../Img/V1vdDE.jpg");
}

.startup-cards .aStartup .description h3 {
    padding: 10px 0 20px;
    text-align: center;
}

.startup-cards .aStartup .project-desc {
    color: white;
}

.startup-cards .aStartup #status {
    height: 10%;
    background-color: gray;
    border-radius: 0 0 20px 20px;
    background-size: cover;
}

.startup-cards .aStartup #inDevelopment-notice {
    padding: 5px 0;
    text-align: center;
    font-weight: 600;
    font-style: italic;
    font-size: 80%;
    min-height: 150px;
}


/*TESTIMONIALS*/